body {
  max-width: 12000px;
  background-color: black;
  box-shadow: inset 0 -3em 3em #8e00ff, 0.3em 0.3em 1em blue, 0 0 0 2px #8e00ff;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
}

p {
  font-family: "Karla", sans-serif;
}

.logo > img {
  width: 130px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 20px 0px;
}

.nav-items > a {
  padding-right: 20px;
  font-family: "Karla", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

hr {
  border: none;
  height: 3px;
  background-color: #8e00ff;
  width: 600px;
  margin-bottom: 35px;
}

h1 {
  text-align: center;
  font-size: 37px;
}

.first-para {
  text-align: center;
}

.future {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  gap: 80px;
}

.title > div {
  font-weight: 700;
  padding-bottom: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.title {
  margin-top: 45px;
}

.future.para {
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

.future.para > p {
  width: 450px;
}

.img > img {
  width: 300px;
  height: 365px;
  animation: float 4s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -1px);
  }
}

.info {
  text-align: center;
  border: 4px solid blue;
  padding: 20px 40px;
  margin: 0px 15%;
  box-shadow: 2px 3px 2px 1 blue;
}

.line-top hr,
.line-bottom hr {
  width: 450px;
  height: 4px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 blue, 0 6px 20px 0 #8e00ff;
}

.top,
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-top,
.text-bottom {
  font-size: 60px;
  text-shadow: 2px 1px #8e00ff;
}

h2:hover {
  color: #0100ff;
  cursor: pointer;
}

.middle > p {
  line-height: 25px;
  text-align: justify;
  margin: 0px 10px;
}

footer {
  background-color: black;
  padding: 25px 5px;
  margin: 5% 0px 0px 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.socail > a {
  color: white;
  padding-left: 25px;
  font-size: 30px;
}

.socail > a:hover {
  cursor: pointer;
  color: #0100ff;
}

/* about */

.img-container {
  padding-bottom: 40px;
}

.header-headphone {
  text-align: center;
  border: 2px solid blue;
  padding: 20px 0px;
  text-shadow: 2px 2px 10px #8e00ff;
  font-size: 30px;
  border-radius: 2px;
}

.swiper {
  width: 50%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
}

.swiper-slide img {
  width: 300px;
  height: 365px;
}

.para > p {
  width: 250px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
}

.swiper .swiper-pagination-bullet-active {
  background: white;
}

.swiper .swiper-pagination-bullet {
  background: white;
}

.btn {
  border: 2px solid blue;
  padding: 10px 0px;
  text-align: center;
  border-radius: 2px;
  text-shadow: 2px 2px 10px #8e00ff;
  font-family: "Bebas Neue", cursive;
}

/* contact */

.contactHeader{
  color: #8e00ff;
  cursor: pointer;
}

.contactHeader:hover{
  color: #0100ff;
}

.form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
    align-items: center;
    margin-top: 40px;
    gap: 10px; 
  }
  
  #firstName, #address, #birthday, #email, #number, #birthday{
    width: 700px;
    height: 60px;
    margin-left: 10px;
    padding-left: 10px;
    border: 3px solid #e6e3eb;
    background-color: black;
    font-size: 20px;
    color: #0100ff;
    cursor: pointer;

  }
  .iframe{
    width: 100%;
   
  }

  .form-btn{
    margin-top: 20px;
    width: 250px;
    height: 80px;
    font-size: 40px;
    border-radius: 5px solid white;
    border: none;
  }

  .form-btn a {
    text-decoration: none;
    color: black;
  }

  
  .form-btn:hover{
    background-color: #0100ff;
  }

  ::placeholder{
    color:#0100ff;
  }

  @media (max-width: 1024px) {
    .para > p {
        width: 150px;
      }
  }

  @media (max-width: 700px) {
    body{
        box-shadow: inset 0 0 5px 5px #8e00ff, 0 0 5px 5px blue,  0 0 5px 5px #8e00ff;
    }
    /*Home*/
    .future{
     display: grid;
     gap: 40px;
     align-content: center;
    }

    .title{
     display: flex;
     justify-content: space-around;
     font-size: 60px;
    }
    .img > img{
      padding-left: 40px;
    }

    .first-para{
     padding: 0px 40px;
    }
    div.line-top hr,
    div.line-bottom hr{
     width: 200px;
    }

    /*About*/
    .swiper-slide{
     flex-direction: column;
     gap: 10px;
    }
    .swiper-slide img{
     width: 280px;
    }
    .btn{
     margin: 30px 0px;
    }
    #firstName, #address, #birthday, #email, #number{
      width: 500px;
     }

  }

  @media (max-width: 400px) {
    /*Home*/
    .nav{
     display: flex;
     flex-direction: column;
    }
    
    .title{
    font-size: 20px;
    justify-content:center;
    gap: 35px;
    }
    .future.para > p{
     width: 300px;
     text-align: center;
    }

    .line-bottom,
    .line-top{
     display: none;
    }
    .middle > p{
    margin: 0px;
    line-height: 20px;
    }

    /*About*/
    .swiper-slide img{
        width: 150px;
       }
    .para > p {
        width: 180px;
      }
    .swiper .swiper-button-prev:after,
    .swiper .swiper-button-next:after{
      font-size: smaller;
      }
    /*Contact*/

    #firstName, #address, #birthday, #email, #number{
     width: 280px;
    }

  }



  
  
  
  
  
  